@font-face {
    font-family: Laylo;
    src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}

@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.back__top {
    background: #000;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    bottom: 80px;
    right: 20px;
    position: fixed;
    transition: .2s ease-in;
    transform: scale(0);
}

:root {
    --bg-primary: #BEA087;
    --bg-secondary: #D9C08B;
    --size: 18px;
    --border: 1px solid gray;
    --border-radius: 0px;
    --transition: .5s;
}

body {
    min-height: 500vh;
}

.container {
    max-width: 1510px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

input,
button {
    outline: none;
}


/* Header start */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    z-index: 10;
    transition: .25s ease-in;
}

.header.shrink {
    background: #000;
}

/* .header.shrink .header__navbar{
    height: 60px;
} */
.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    transition: .25s ease-in;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__logo img {
    width: 60px;
}

.header__collection {
    display: flex;
    gap: 20px;
}

.header__options {
    display: flex;
    gap: 20px;
}

.header__options select {
    border: none;
    background: transparent;
    color: white;
}

/* Header end */


/* Hero start */
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(#000000f2, #00000030, transparent);
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hero end */

.menu {
    background: var(--bg-primary);
}

.menu__wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 16px 0;
    position: relative;
}

.menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    cursor: pointer;

}

.menu__item img {
    width: 44px;

}

.menu__item:hover span {
    text-decoration: underline;
}

.menu__bar {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    left: 0;
}

.menu__bar button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(90deg);
    border: none;
    background: #C3D2DC
}

.title {
    text-align: center;
    margin: 80px 0 40px;
    text-transform: uppercase;
    font-weight: 500;
}

.product__wrapper {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.product__card {
    width: calc(25% - 30px);

}

.product__card__image {
    position: relative;
}

.product__card__image img {
    width: 343px;
    height: 343px;
    border-radius: 50%;
}

.product__card__image span {
    width: 40px;
    height: 40px;
    background: #000;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    display: grid;
    ;
    place-items: center;
    position: absolute;
    top: 22px;
    left: 22px;
    border: 3px solid white;
    box-sizing: content-box;
}

.product__card__body {
    margin-top: 20px;
    text-align: center;
    color: #333;
}

.product__card__body h3 {
    margin-bottom: 30px;

}

.product__card__body p {
    color: #999;
    margin-bottom: 16px;
}

.values__wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.values__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    width: 300px;
    text-align: center;

}


.product__wrapper__many {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}


.container__about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}

.left {
    position: relative;
}

.left img {
    width: 100%;
    border-radius: 10px;
}

.circle-button {
    position: absolute;
    top: 50%;
    left: 100%;
    background-color: #dcc38d;
    color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    transform: translate(-50%, -50%);
}


.circle-button:hover {
    background-color: #c2aa76;
}

.right {
    max-width: 600px;
    position: relative;
    /* border: 1px solid red; */
}

.right h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #1d1d1f;
}

.right p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.6;
}

.right__image {
    position: absolute;
    right: 20px;
}

.product__card__new {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: calc(25% - 30px);
}

.new__button {
    cursor: pointer;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none;
    background: #dcc38d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

}

.footer {
    width: 100%;
    margin-top: 100px;

}

.top__wrapper {
    width: 100%;
    height: 480px;
    background: #2E2124;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
}

.information {
    color: #fff;

}

.information h2 {
    margin-bottom: 25px;
}
.information li {
    margin-bottom: 15px;
}

.call {
    color: #fff;
    top: 15px;
}

.call h2 {
    margin-bottom: 20px;
}


.call li {
    margin-bottom: 15px;
    font-size: 32px;
}
